.completed{
    text-decoration: line-through;
}

.remove_button
{
    width: 25px;
    height: 25px;
    float: right;
    background-color: transparent;
    color: rgb(250, 41, 41);
    border: 1.5px solid rgb(250, 41, 41);
    border-radius: 100%;
}


input[type='checkbox']
{
    margin: 0 10px 10px 0;
    cursor: pointer;
}


.checkbox-round {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #447B75;
    outline: none;
    cursor: pointer;
}

.checkbox-round:hover
{
    background-color: #447B75;
}

.checkbox-round:checked {
    background-color: #EEEEEE;
}